<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <title>FS Main</title>

        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

        {% load custom_tags %}
        <script type="text/javascript">
            
            function pollPage(){
                let csrftoken = '{{ csrf_token }}'
        
                $.ajax({
                    url: '/fsmain_loading/{{job_id}}/',
                    type: 'POST',
                    headers: {'X-CSRFToken':csrftoken},
                    data: {'task_ids': '{{task_ids}}' },
                    dataType: 'json',
                    statusCode: {
                        200: function(data) {
                            console.log('success');
                            window.location.href = "/fsmain_loading/{{job_id}}/";
                        },
                        302: function(data) {
                            console.log(data.responseJSON.finished_tasks.length);
                            // loop thru data.resposneJSON.finished_tasks
                            // set img id=taskid to value matching key=taskid in taskid_img_dict
                            
                            //console.log(data.responseJSON.finished_tasks)
                            var jsdict = '{{taskid_img_dict}}';
                            jsdict = JSON.parse(jsdict.replace(/&quot;/g,'"'));
                            //console.log(jsdict);
                            for(let i = 0; i < data.responseJSON.finished_tasks.length; i++) {
                                var key = data.responseJSON.finished_tasks[i];

                                var element = document.getElementById(key);
                                //console.log(key)
                                var value = jsdict[key];
                                console.log(value)
                                var newsrc = value;
                                //newsrc.replaceAll('&#x27;', '')
                                //console.log(newsrc)
                                element.setAttribute("src", newsrc);
                            }

                            setTimeout(function() {
                            pollPage();
                            },1000);
                        }
                    }
                    // success: function(result){
                    //         // $('#image-id').attr('src', result.image);
                    //         console.log('success');
                    //         window.location.href = "/streamb/";
                    // },
                    // error: function(xhr){
                    //     console.log('error');
                    //     setTimeout(function() {
                    //         pollPage();
                    //     },1000);
                    // }
        
                });
            };
            pollPage();

        </script>

        <script>
            function imgchange(thumbnail){
                var element = document.getElementById("result");
                var src = thumbnail.getAttribute("src");
                element.setAttribute("src", src);
                
                //element.setAttribute("height", "100%")
            }

            function modalsrc(){
                var element = document.getElementById("imgpreview");
                var src = element.getAttribute("src");
                
                var link = document.createElement('a');
                link.download = 'name';
                link.href = src;
                link.click();
            }
        </script>

<script>
    $(function() {
		$('.pop').on('click', function() {
			// $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            var newSrc = $(this).find('img').attr('src');

            console.log(newSrc)
            $('.imagepreview').attr('src', newSrc);
            
			$('#imagemodal').modal('show');   
		});		
});
  </script>

    </head>

    <body class="m-5">
        <div>
            <ul>
                {% for key, value in taskid_img_dict.items %} 
                  <li>{{key}} - {{value}}</li>
                {% endfor %}
                </ul>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true">Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="filtered-tab" data-toggle="tab" href="#filtered" role="tab" aria-controls="filtered" aria-selected="false">Filtered Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="tab" aria-controls="result" aria-selected="false">Result</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="images" role="tabpanel" aria-labelledby="images-tab">
                
                <div class="list-group p-3">
                    {% for image in images %}
                    <li class="list-group-item text-center" style="width: 50%;"><a href="#" class="pop"><img src={{image.image.url}} alt="" id="imageresource" style="max-width: 100%; max-height: 100%;" class="p-3"/></a></li>
                    {% endfor %}
                    
                </div>
                       

            </div>
            <div class="tab-pane fade" id="filtered" role="tabpanel" aria-labelledby="filtered-tab">
                <div class="list-group p-3">
                    {% for task_id in task_ids %}
                    <li class="list-group-item text-center" style="width: 50%;"><a href="#" class="pop"><img src="/images/Pulse-1s-200px.svg" id={{task_id}} alt="" id="imageresource" style="max-width: 100%; max-height: 100%;" class="p-3"/></a></li>
                    {% endfor %}
                    
                </div>
                
            </div>
            <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                <div class="list-group p-3">
                    
                    <li class="list-group-item text-center" style="width: 50%;"><a href="#" class="pop"><img src="/images/Pulse-1s-200px.svg" alt="" id="imageresource" style="max-width: 100%; max-height: 100%;" class="p-3"/></a></li>
                    
                </div>
            </div>

            
            
          </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                    class="sr-only">Close</span></button>
                            <!-- <h4 class="modal-title" id="myModalLabel">Image preview</h4> -->
                        </div>
                        <div class="modal-body">
                            <img src="" id="imgpreview" class="imagepreview" style="width: 100%; height: 100%;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" id="downloadbtn" download="" onclick=modalsrc()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div> 


    </body>
</html>