<!DOCTYPE html>
<head>
    
</head>
<html>
<body>

<h1>Page A</h1>
<img src="/images/loader-blocks.gif" alt="loading gif" id="1">
<img src="/images/loader-blocks.gif" alt="loading gif" id="2">
<img src="/images/loader-blocks.gif" alt="loading gif" id="3">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><script>
    function pollPage(){
        let csrftoken = '{{ csrf_token }}'

        $.ajax({
            url: '/streamb/',
            type: 'POST',
            headers: {'X-CSRFToken':csrftoken},
            data: {'task_id': '{{task_id}}' },
            dataType: 'json',
            statusCode: {
                200: function(data) {
                    console.log('success');
                    window.location.href = "/streamb/";
                },
                404: function(data) {
                    console.log(data.responseJSON);
                    setTimeout(function() {
                    pollPage();
                    },1000);
                }
            }
            // success: function(result){
            //         // $('#image-id').attr('src', result.image);
            //         console.log('success');
            //         window.location.href = "/streamb/";
            // },
            // error: function(xhr){
            //     console.log('error');
            //     setTimeout(function() {
            //         pollPage();
            //     },1000);
            // }

        });
    };
    pollPage();   
</script>

</body>
</html>